<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cinema Management System</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>

	<script>
		function validateForm(event) {
			const linkPosterInput = document.getElementById('linkPoster');
			const linkPosterError = document.getElementById('linkPosterError');
			const time = document.getElementById('time');
			const timeError = document.getElementById('timeError');
			if (linkPosterInput.value.length > 255) {
				event.preventDefault(); // Ngăn chặn việc submit form
				linkPosterError.textContent = "Link poster quá dài, vui lòng nhập ít hơn 255 ký tự.";
			} else {
				linkPosterError.textContent = "";
			}
			if (time.value.length > 4) {
				event.preventDefault(); // Ngăn chặn việc submit form
				timeError.textContent = "Thời lượng không hợp lệ! (<1000)";
			} else {
				timeError.textContent = "";
			}
		}
	</script>
	<div class="container w-50 mt-5 rounded shadow p-4 bg-body-tertiary">
		<h1>Quản lý phim</h1>
		<hr>
		<h2>Cập nhật phim</h2>
		<form action="#" th:action="@{/updateMovie}" th:object="${movie}" method="POST">
			<div class="mb-3 visually-hidden">
				<label for="id" class="form-label">Mã phim</label>
				<input type="text" th:field="*{idPhim}" placeholder="Mã phim" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
				<label for="tenphim" class="form-label">Tên phim</label>
				<input type="text" th:field="*{tenPhim}" placeholder="Tên phim" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
				<label for="theloai" class="form-label">Thể loại</label>
				<input type="text" th:field="*{theLoai}" placeholder="Thể loại" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
				<label for="daodien" class="form-label">Đạo diễn</label>
				<input type="text" th:field="*{daoDien}" placeholder="Đạo diễn" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
				<label for="dienvien" class="form-label">Diễn viên</label>
				<input type="text" th:field="*{dienVien}" placeholder="Diễn viên" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
				<label for="thoiluong" class="form-label">Thời lượng</label>
				<input type="text" th:field="*{thoiLuong}" placeholder="Thời lượng" id="time" class="form-control mb-4 col-4">
				<div id="timeError" class="text-danger"></div>
			</div>
			<div class="mb-3">
				<label for="mota" class="form-label">Mô tả</label>
				<!-- <input required type="text" th:field="*{moTa}" placeholder="Mô tả" class="form-control mb-4 col-4"> -->
				<textarea required th:field="*{moTa}" placeholder="Mô tả" class="form-control mb-4 col-4" rows=4></textarea>
			</div>
			<div class="mb-3">
				<label for="ngayphathanh" class="form-label">Ngày phát hành</label>
				<input type="date" th:field="*{ngayPH}" placeholder="Ngày phát hành" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
				<label for="quocgia" class="form-label">Quốc gia</label>
				<input th:field="*{quocGia}" placeholder="Quốc gia" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
				<label for="linkposter" class="form-label">Link Poster</label>
				<input type="url" th:field="*{linkPoster}" placeholder="Link poster"  id="linkPoster" class="form-control mb-4 col-4">
				<div id="linkPosterError" class="text-danger"></div>
			</div>
			<div class="d-flex justify-content-between">
				<a class="btn btn-secondary" th:href="@{/}"> Quay lại</a>
				<button type="submit" class="btn btn-success col-2"  onclick="validateForm(event)"> Cập nhật</button>
			</div>
		</form>
	</div>
</body>
</html>