<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quản lý nhân viên</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/script.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
<div class="main-content-emp">
    <div class="main-title flex spc-btw" style="align-items:center;">
        <div class="">Danh sách nhân viên</div>
        <div class="flex">
        
        	<form th:action="@{/searchEmployee}" method="GET" class="row g-3 mb-4">
	            <div class="search-bar"><input type="text" name="id" id="">
                	<button type="submit" class="btn btn-info"><i class="bi bi-search" style= "margin-right:10px"></i></button>
            	</div>
	        </form>
            
            <div class="add-btn">
                <div class="add-emp">
                    <a th:href="@{/showNewEmployeeForm}" class="btn btn-primary btn-sm mb-3">Thêm nhân viên</a>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-table">
        <table class="main-content-list" id="myTable">
            <thead>
                <tr>
                    <th onclick="sortTable(0)">Mã nhân viên</th>
                    <th onclick="sortTable(1)">Tên nhân viên</th>
                    <th onclick="sortTable(2)">Ngày sinh</th>
                    <th onclick="sortTable(3)">Địa chỉ</th>
                    <th onclick="sortTable(4)">Chức vụ</th>
                    <th onclick="sortTable(5)">Lương</th>
                    <th onclick="sortTable(6)">Ca làm</th>
                    <th>Số điện thoại</th>
                    <th>Chức năng</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="Employee : ${listEmployees}">
                    <td th:text="${Employee.idNhanVien}"></td>
                    <td th:text="${Employee.hoTenNV}"></td>
                    <td th:text="${Employee.ngaySinhNV}"></td>
                    <td th:text="${Employee.diaChi}"></td>
                    <td th:text="${Employee.chucVu}"></td>
                    <td th:text="${Employee.luong}"></td>
                    <td th:text="${Employee.caLam}"></td>
                    <td th:text="${Employee.sdt}"></td>
                   	<td>
                        <a th:href="@{/showFormForUpdateEmployee/{id}(id=${Employee.idNhanVien})}" class="btn btn-primary btn-sm"><i class="bi bi-gear-fill"></i></a>
                        <a th:href="@{/deleteEmployee/{id}(id=${Employee.idNhanVien})}" class="btn btn-danger btn-sm"><i class="bi bi-trash-fill"></i></a>
                    </td> 
                </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>