<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="buy-title">
                        <p><b>Mua vé xem phim</b></p>
                    </div>
    <div class="buy-section">
                        <div class="buy-ticket">
                            <div class="seat-section">
                                <div class="seat-row">
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A2" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A3" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A4" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A5" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A6" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A7" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>

                                </div>
                                <div class="seat-row">
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>

                                </div>
                                <div class="seat-row">
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="A1" class="normal-seat">
                                    </div>

                                </div>
                                <div class="seat-row">
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                </div>
                                <div class="seat-row">
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                    <div><input onclick="addSeat(this)" type="button" value="B1" class="vip-seat"></div>
                                </div>
                                <div class="seat-row center-item">
                                    <div><input onclick="addSeat(this)" type="button" value="D2-E2" class="couple-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="D2-E2" class="couple-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="D2-E2" class="couple-seat">
                                    </div>
                                    <div><input onclick="addSeat(this)" type="button" value="D2-E2" class="couple-seat">
                                    </div>
                                </div>
                                <div class="seat-details flex ">
                                    <div class="seat-details-item">
                                        <div class="flex al-center">
                                            <div class="seat-black"></div>
                                            <p>Đã đặt</p>
                                        </div>
                                        <div class="flex al-center">
                                            <div class="seat-red"></div>
                                            <p>Ghế vip</p>
                                        </div>
                                    </div>
                                    <div class="seat-details-item">
                                        <div class="flex al-center">
                                            <div class="chosen"></div>
                                            <p>Đang chọn</p>
                                        </div>
                                        <div class="flex al-center">
                                            <div class="couple"></div>
                                            <p>Ghế đôi</p>
                                        </div>
                                    </div>
                                    <div class="seat-details-item">
                                        <div class="flex al-center">
                                            <div class="normal"></div>
                                            <p>Ghế thường</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="ticket-details">
                                <p>
                                <p class="ageFilm margin-tb-10">P</p> Doraemon: Nobita và bản giao hưởng Địa Cầu</p>
                                <p style="color: rgb(220, 137, 35);">13:50 ~ 16:02 • Hôm nay, 10/06 • Phòng chiếu P3 2D
                                    • Lồng tiếng</p>
                                <div class="seat-chose flex spc-btw ">
                                    <p class="mb-2">Chỗ ngồi</p>
                                    <div id="seat-chosens" class=" flex spc-btw">
                                    </div>


                                </div>

                                <div class="flex spc-btw ">
                                    <div class="money">
                                        <p>Tạm tính</p>
                                        <p>60.00đ</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-primary pay-ticket" data-bs-target="#exampleModalToggle2"
                                            data-bs-toggle="modal">Mua vé</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                
</body>
</html>