<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title th:text="${movie.tenPhim}"></title>
<link rel="shortcut icon" type="image/png" href="/img/film.png" />
<link rel="stylesheet" href="/css/filmStyle.css">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
	crossorigin="anonymous"></script>
<style>
#header.light-mode {
	background-color: #f8f9fa;
	color: #212529;
}

/* Dark Mode */
#header.dark-mode {
	background-color: #212529;
	color: #f8f9fa;
}

/* Adjust user dropdown content text color */
#header.light-mode .dropdown-content a, #header.dark-mode .dropdown-content a
	{
	color: inherit; /* Use inherited color */
}

#header.light-mode.user-name span, #header.dark-mode.user-name span {
	color: inherit;
}

/* Adjust chevron icon color */
#header.light-mode .bi-chevron-compact-down, #header.dark-mode .bi-chevron-compact-down
	{
	color: inherit; /* Use inherited color */
}
</style>
<script>
	    document.addEventListener("DOMContentLoaded", function () {
	        var modalToggleButtons = document.querySelectorAll('.schedule-time-item');      
	        modalToggleButtons.forEach(button => {
	            button.addEventListener('click', function () {
	                var startTime = button.getAttribute('data-start-time');
	                var endTime = button.getAttribute('data-end-time');
	                var showTime = button.getAttribute('data-show-time');
	                var room = button.getAttribute('data-room');
	                var roomType = button.getAttribute('data-room-type');
	                // Update content in the modal
	                var modalTimeElement = document.getElementById("timeSchedule");
	                modalTimeElement.value = startTime + ' ~ ' + endTime;
	                
	                var modalTimeElement2 = document.getElementById("showTime");
	                modalTimeElement2.value = showTime;
	                
	                var modalTimeElement3 = document.getElementById("showRoom");
	                modalTimeElement3.textContent = room;
	                
	                var modalTimeElement3 = document.getElementById("roomType");
	                modalTimeElement3.textContent = roomType;
	                // Close the dropdown if it's open (optional)
	                var dropdown = document.querySelector('.dropdown-content');
	                dropdown.classList.remove('show');
	
	                // Optionally, you can trigger the modal opening programmatically
	                var modalToggle = new bootstrap.Modal(document.getElementById('exampleModalToggle'));
	                modalToggle.show();
	            });
	        });
	    });

        document.addEventListener("DOMContentLoaded", function () {
            let listChoosen = document.getElementById("seat-chosens");

            function addSeat(button) {
                var chairValue = button.value;

                // Kiểm tra xem ghế đã được chọn hay chưa
                var existingSeats = listChoosen.querySelectorAll(".seat-chosen");
                for (var i = 0; i < existingSeats.length; i++) {
                    if (existingSeats[i].textContent === chairValue) {
                        alert("Ghế này đã được chọn!");
                        return;
                    }
                }

                // Tạo một phần tử mới để chứa thông tin ghế
                let seat = document.createElement("div");
                seat.className = "seat-chosen";
                seat.textContent = chairValue;
                listChoosen.appendChild(seat);
                seat.addEventListener("click", function () {
                    listChoosen.removeChild(seat);
                });
            }

            // Gán hàm addSeat cho các nút ghế
            var seatButtons = document.querySelectorAll(".normal-seat, .vip-seat, .couple-seat");
            seatButtons.forEach(button => {
                button.addEventListener("click", function () {
                    addSeat(button);
                });
            });
        });
        function loadContent(fragment) {
            fetch(fragment)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => console.error('Error loading content:', error));
        }
        
        // Comment
      function convertToEditForm(button) {
            var commentContent = button.parentElement.querySelector('.comment-content');
            var rateId = button.parentElement.querySelector('.rate-id').value;
            var accountId = button.parentElement.querySelector('.account-id').value;
            var movieId = button.parentElement.querySelector('.movie-id').value;
            var rating = button.parentElement.querySelector('.comment-rate span').textContent; // Assuming the rating is displayed within a span element
        
            // Tạo form để chỉnh sửa bình luận
            var form = document.createElement('form');
            var textarea = document.createElement('textarea');
            var submitBtn = document.createElement('button');
            var idInput = document.createElement('input');
            var accountInput = document.createElement('input');
            var movieInput = document.createElement('input');
            var ratingInput = document.createElement('input');
        
            form.method = 'post';  // Đặt phương thức là POST
            form.action = '/updateRate';  // Đặt endpoint cho việc cập nhật đánh giá
        
            textarea.className = 'edit-comment form-control';
            textarea.id = "binhLuan";
            textarea.name = "binhLuan";
            textarea.value = commentContent.textContent.trim();
            form.appendChild(textarea);
        
            idInput.type = 'hidden';
            idInput.name = 'id';
            idInput.value = rateId;
            form.appendChild(idInput);
        
            accountInput.type = 'hidden';
            accountInput.name = 'taiKhoan';
            accountInput.value = accountId;
            form.appendChild(accountInput);
        
            movieInput.type = 'hidden';
            movieInput.name = 'phim';
            movieInput.value = movieId;
            form.appendChild(movieInput);
        
            ratingInput.type = 'hidden';
            ratingInput.name = 'diem';
            ratingInput.value = rating;
            form.appendChild(ratingInput);
        
            submitBtn.type = 'submit';
            submitBtn.textContent = 'Lưu';
            submitBtn.className = 'btn btn-primary float-end';
            form.appendChild(submitBtn);
        
            // Lưu lại nội dung ban đầu của bình luận để phục hồi khi cần thiết
            var originalCommentContent = commentContent.textContent;
        
            // Thay thế nội dung bình luận bằng form
            commentContent.replaceWith(form);
            // Xử lý sự kiện khi form được gửi đi
            form.addEventListener('submit', function(event) {
                event.preventDefault();
                var editedComment = textarea.value;

                button.classList.remove("btn-secondary", "mt-2");
                // Gửi dữ liệu form đi thông qua Ajax hoặc fetch
                fetch(form.action, {
                    method: 'POST',
                    body: new FormData(form)
                })
                .then(response => response.json())  // Thay đổi parse sang JSON
                .then(data => {
                    // Xử lý kết quả trả về nếu cần
                    console.log('Đánh giá đã được cập nhật thành công:', data);
                    
                    // Thay thế form bằng nội dung bình luận đã cập nhật
                    var newCommentContent = document.createElement('div');
                        newCommentContent.className = 'comment-content';
                        newCommentContent.textContent = editedComment;
                        newCommentContent.setAttribute('rateId', rateId);
                        newCommentContent.setAttribute('rateAcc', accountId);
                        newCommentContent.setAttribute('ratePhim', movieId);
                        form.replaceWith(newCommentContent);
                    
                    // Đổi lại nút biểu tượng "⚙️" về trạng thái ban đầu
                    button.textContent = '⚙️';
                })
                .catch(error => {
                    console.error('Lỗi khi cập nhật đánh giá:', error);
                    // Xử lý lỗi nếu cần
                });
            });
        
            // Đổi văn bản nút thành "Hủy" trong khi chỉnh sửa
            button.textContent = 'Hủy';
            button.className = "btn btn-secondary mt-2";
            button.onclick = function() {
                // Thay thế form bằng nội dung bình luận ban đầu
                var originalCommentDiv = document.createElement('div');
                originalCommentDiv.className = 'comment-content';
                originalCommentDiv.textContent = originalCommentContent;
                form.replaceWith(originalCommentDiv);
        
                // Đặt lại văn bản nút thành "⚙️"
                button.textContent = '⚙️';
                button.classList.remove("btn-secondary", "mt-2");
                button.onclick = function() {
                    // Gọi đệ quy để chuyển lại thành form chỉnh sửa
                    convertToEditForm(button);
                };
            };
        }

      function toggleHeaderMode() {
	        const header = document.getElementById('header');
	        const toggleButton = document.getElementById('toggleButton');
	        const icon = toggleButton.querySelector('i');
	
	        if (header.classList.contains('light-mode')) {
	            header.classList.remove('light-mode');
	            header.classList.add('dark-mode');
	            toggleButton.classList.remove('btn-outline-dark');
	            toggleButton.classList.add('btn-outline-light');
	            icon.classList.remove('bi-brightness-high');
	            icon.classList.add('bi-moon');
	        } else {
	            header.classList.remove('dark-mode');
	            header.classList.add('light-mode');
	            toggleButton.classList.remove('btn-outline-light');
	            toggleButton.classList.add('btn-outline-dark');
	            icon.classList.remove('bi-moon');
	            icon.classList.add('bi-brightness-high');
	        }
	    }
    </script>
</head>
<body>
	<div id="header">
		<div class="navbar">
			<a class="logo ms-3" th:href="@{/userSite}"> <img
				src="/img/LET.png" width="125px" height="100%">
			</a>
			<div class="nav-content">
				<ul>
					<li class="fs-5 fw-medium"><a class="text-dark"
						th:href="@{/userSite#now-showing}">Phim đang chiếu</a></li>
					<li class="fs-5 fw-medium"><a class="text-dark"
						th:href="@{/showMovieGenre}">Thể loại phim</a></li>
				</ul>
			</div>
			<div class="user flex">
				<div class=" nav-dropdown flex">
					<div class="user-avt">
						<img class="brr-50"
							src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png"
							alt="" width="50px" height="50px">
					</div>
					<div class="user-name nav-dropdown me-4"
						th:classappend="${account != null} ? 'light-mode' : 'dark-mode'">
						<span th:if="${account != null}" th:text="${account.username}">
						</span>
						<div class="dropdown-content rounded">
							<a data-bs-toggle="modal" class="rounded"
								data-bs-target="#exampleModal" style="cursor: pointer;">Thông
								tin</a> <a th:href="@{/logout/{id}(id=${account.email})}" class="rounded">Đăng xuất</a>
						</div>
					</div>
				</div>
				<!-- Toggle button -->
				<button id="toggleButton"
					class="btn btn-outline-dark rounded-circle"
					onclick="toggleHeaderMode()">
					<i class="bi bi-brightness-high"></i>
				</button>
			</div>
		</div>
	</div>
	<div class="film-info pa-64">
		<div class="film-info-img">
			<img th:src="${movie.LinkPoster}" alt="" width="250px" height="350px">
		</div>
		<div class="film-info-details">
			<p class="ageFilm margin-tb-10">P</p>
			<h1 th:text="${movie.tenPhim}"></h1>
			<p class="opacity-7 margin-tb-10" th:text="${movie.tenPhim}">·
			<p>
				<span th:text="${movie.thoiLuong}"></span> phút
			</p>
			<p>
				🌟 <span
					th:text="${#numbers.formatDecimal(averageRatings[movie.idPhim], 1, 1)}"></span>
			</p>
			<b>Nội dung</b>
			<p class="opacity-7" th:text="${movie.moTa}"></p>
			<div class="flex justify-content-between margin-tb-10">
				<div class="">
					<p class="opacity-7">Ngày chiếu</p>
					<b th:text="${movie.ngayPH}"></b>
				</div>
				<div class="">
					<p class="opacity-7">Thể loại</p>
					<b th:text="${movie.theLoai}"></b>
				</div>
			</div>
		</div>
	</div>
	<div class="pa-64	">
		<div class="schedule-show ">
			<h3>
				Lịch chiếu <span th:text="${movie.tenPhim}"></span>
			</h3>
			<div class="schedule-container" th:each="date : ${uniqueDates}">
				<div class="schedule-list">
					<div class="schedule-date">
						<p class="bg-gray" th:text="${date}"></p>
					</div>
				</div>
				<div class="schedule-time-container">
					<div class="schedule-time">
						<p>
							<b>2D Lồng tiếng</b>
						</p>
						<div class="" style="margin-left: -3px;">
							<div th:each="schedule : ${movieSchedule}"
								th:if="${date == schedule.ngayChieu}"
								class="schedule-time-item btn btn-primary ms-1 me-1"
								data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
								th:attr="data-start-time=${schedule.thoigianBD}, data-end-time=${schedule.thoigianKT}, data-show-time=${schedule.ngayChieu}, data-room=${schedule.phongChieu.idPhong},data-room-type=${schedule.phongChieu.loaiPhong}">
								<a class="text-white" style="text-decoration: none"
									th:href="@{/showBuyTicket/{id}(id=${schedule.idLichChieu})}"><span
									th:text="${schedule.thoigianBD}"></span> ~ <span
									th:text="${schedule.thoigianKT}"></span></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="comments mt-3">
			<form action="#" th:action="@{/saveRate}" th:object="${newRate}"
				method="post">
				<div class="">
					<select class="form-select w-auto mb-3" id="selectRating"
						th:field="*{diem}" aria-label="Default select example" required>
						<option value="10" disabled selected>Điểm</option>
						<option th:value="1">1</option>
						<option th:value="2">2</option>
						<option th:value="3">3</option>
						<option th:value="4">4</option>
						<option th:value="5">5</option>
						<option th:value="6">6</option>
						<option th:value="7">7</option>
						<option th:value="8">8</option>
						<option th:value="9">9</option>
						<option th:value="10">10</option>
					</select> <label for="textareaComment" class="form-label mb-3">Bình
						luận</label>
					<textarea class="form-control" id="textareaComment"
						th:field="*{binhLuan}" rows="3"></textarea>
					<input type="hidden" th:field="*{taiKhoan}" /> <input
						type="hidden" th:field="*{Phim}" />
				</div>
				<button type="submit" class="btn btn-primary mb-3 mt-3">Gửi
					đánh giá</button>
			</form>
			<div class="">
				<h3 class="comments-title">Bình luận từ người xem</h3>
				<div class="user-comment" th:each="rate:${rates}"
					th:if="${rate.Phim.idPhim == movie.idPhim}">
					<div class=" flex">
						<div class="user-avt">
							<img
								src="https://static.vecteezy.com/system/resources/thumbnails/002/318/271/small_2x/user-profile-icon-free-vector.jpg"
								alt="" width="50px" height="50px">
						</div>
						<div class="user-info">
							<p th:text="${rate.taiKhoan.username}"></p>
						</div>
					</div>
					<div class="mb-3">
						<input type="hidden" class="rate-id" th:value="${rate.id}" /> <input
							type="hidden" class="account-id"
							th:value="${rate.taiKhoan.email	}" /> <input type="hidden"
							class="movie-id" th:value="${rate.Phim.idPhim}" />
						<div class="comment-rate mg-10 ">
							🌟 <span th:text="${rate.diem}"></span>/10
						</div>
						<div class="comment-content" th:text="${rate.binhLuan}"></div>
						<button th:if="${rate.taiKhoan.email == account.email}"
							class="gear-icon-btn" onclick="convertToEditForm(this)">⚙️</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="exampleModal" tabindex="-1"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog md">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Thông tin
						người dùng</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">

					<form th:action="@{/updateCustomer}" th:object="${customer}"
						method="post">
						<div class="row mb-3">
							<div class="col-sm-9">
								<input type="hidden" class="form-control" id="idCus"
									th:field="*{idKhach}" th:value="${customer.idKhach}">
							</div>
						</div>

						<div class="row mb-3">
							<label for="username" class="col-sm-3 col-form-label">Username:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="username"
									th:field="*{tenKhach}" th:value="${customer.tenKhach}" required>
							</div>
						</div>

						<div class="row mb-3">
							<label for="inputPassword3" class="col-sm-3 col-form-label">Số
								điện thoại:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="phoneNum"
									th:value="${customer.sdt}" th:field="*{sdt}">
							</div>
						</div>
						<div class="row mb-3">
							<label for="inputPassword3" class="col-sm-3 col-form-label">Điểm:</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" id="phoneNum"
									th:value="${customer.diem}" th:field="*{diem}" readonly>
							</div>
						</div>
						<button type="submit" class="btn btn-primary float-end">Lưu</button>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div id="footer" class=" bg-dark p-3 pt-5">
		<div class="row p-64  ms-5 me-5 text-white border-bottom">
			<div class="col mb-4">
				<div class="title-footer">
					<b>Giới thiệu</b>
					<ul class="mt-3">
						<li><a href="#">Về chúng tôi</a></li>
						<li><a href="#">Thỏa thuận sử dụng</a></li>
						<li><a href="#">Quy chế hoạt động</a></li>
						<li><a href="#">Chính sách bảo mật</a></li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="title-footer">
					<b>Góc điện ảnh</b>
					<ul class="mt-3">
						<li><a th:href="@{/userSite#now-showing}">Phim đang chiếu</a></li>
						<li><a th:href="@{/showMovieGenre}">Thể loại phim</a></li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div class="title-footer">
					<b>Hỗ trợ</b>
					<ul class="mt-3">
						<li><a href="#">Sales</a></li>
						<li><a href="#">FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="col">
				<div id="logo" class="col-3">
					<img src="/img/LET.png" alt="" class="">
					<div class="row">
						<div class="col-4 fs-3">
							<i class="bi bi-facebook"></i>
						</div>
						<div class="col-4 fs-3">
							<i class="bi bi-youtube"></i>
						</div>
						<div class="col-4 fs-3">
							<i class="bi bi-instagram"></i>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>
