<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Quản lý rạp phim</title>
<link rel="stylesheet" href="/css/style.css">
<script src="/js/script.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
<link
	rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
	type="text/css" />

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
	</script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
	</script>

<script
	src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
	</script>
</head>
<body>
	<div id="header">
		<div class="flex spc-btw">
			<div class="logo">
				<a th:href="@{/}"><img style="border-radius: 50%;"
					src="https://st2.depositphotos.com/1588812/7317/v/450/depositphotos_73179751-stock-illustration-vector-logo-slate-board-for.jpg"
					width="75px" height="75px"></a>
			</div>
			<div class="user flex">
				<div class="user-avt">
					<img class="brr-50"
						src="https://www.iconpacks.net/icons/2/free-user-icon-3296-thumb.png"
						alt="" width="50px" height="50px">
				</div>
				<div class="user-name nav-dropdown">
					Admin <i class="bi bi-chevron-compact-down"></i>
					<div class="dropdown-content">
						<a th:href="@{/logout}">Logout</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id="sidebar" class="width-15">
		<a onclick="loadContent('/showAllAccount')" id="load-cus"
			class="text-white" href="">
			<div class="sidebar-btn shadow p-3 mb-5 bg-body-tertiary rounded">
				<i class="bi bi-person-circle"></i> Tài khoản
			</div>
		</a> <a onclick="loadContent('/employees')" id="load-emp"
			class="text-white" href="">
			<div class="sidebar-btn shadow p-3 mb-5 bg-body-tertiary rounded">
				<i class="bi bi-people-fill"></i> Nhân viên
			</div>
		</a> <a onclick="loadContent('/movieSchedules')" id="load-sche" href=""
			class="text-white">
			<div class="sidebar-btn shadow p-3 mb-5 bg-body-tertiary rounded">
				<i class="bi bi-calendar-event-fill"></i> Lịch chiếu
			</div>
		</a> <a onclick="loadContent('/showCinemaRoom')" id="load-room"
			class="text-white" href="">
			<div class="sidebar-btn shadow p-3 mb-5 bg-body-tertiary rounded">
				<i class="bi bi-columns-gap"></i> Phòng chiếu
			</div>
		</a> <a onclick="loadContent('/showAllMovies')" id="load-movie"
			class="text-white" href="">
			<div class="sidebar-btn shadow p-3 mb-5 bg-body-tertiary rounded">
				<i class="bi bi-film"></i> Phim
			</div>
		</a>
	</div>
	<div class="width-80">
		<div id="content" class="main-content">
			<div class="main-title">
				<h2>Dashboard</h2>
			</div>
			<div class="db-item">
				<div class="mlr-20  flex">
					<div class="total-emp db-card">
						<p>Số lượng nhân viên</p>
						<p>
							<b th:text="${employeeCount}"></b>
						</p>
					</div>
					<div class="total-acc db-card">
						<p>Số lượng tài khoản</p>
						<p>
							<b th:text="${accountCount}"></b>
						</p>
					</div>
					<div class="total-movie db-card">
						<p>Số lượng phim</p>
						<p>
							<b th:text="${movieCount}"></b>
						</p>
					</div>
					<div class="total-room db-card">
						<p>Số lượng phòng</p>
						<p>
							<b th:text="${cinemaRoomCount}"></b>
						</p>
					</div>
					<div class="total-sche db-card">
						<p>Số lượng lịch chiếu</p>
						<p>
							<b th:text="${movieScheduleCount}"></b>
						</p>
					</div>
				</div>
			</div>
			<!-- <a href="/testStatis.html">Xem thêm</a>  -->
			<div class="db-item">
				<div class="flex">
					<div id="donut-chart"></div>

				</div>
			</div>
		</div>
	</div>

	<script>
        function loadContent(fragment) {
            fetch(fragment)
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                })
                .catch(error => console.error('Error loading content:', error));
        }

        const sidebarButtons = document.querySelectorAll('.sidebar-btn');
        sidebarButtons.forEach(button => {
            button.addEventListener('click', function (event) {
                event.preventDefault();

                // Remove 'active' class from all sidebar buttons
                sidebarButtons.forEach(btn => btn.classList.remove('active'));

                // Add 'active' class to the clicked button
                this.classList.add('active');
            });
        });
    </script>
	<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
	<script>
			const xArray = ["Italy", "France", "Spain", "USA", "Argentina"];
			const yArray = [55, 49, 44, 24, 15];
			
			const data = [{
			  x:xArray,
			  y:yArray,
			  type:"bar"
			}];
			
			const layout = {title:"World Wide Wine Production"};
			
			Plotly.newPlot("myPlot", data, layout);
		</script>

	<script th:inline="javascript">
				    /*<![CDATA[*/
				    let ticketCount = /*[[${ticketCountByMovie}]]*/ []; // Lấy dữ liệu từ Spring Model
					let tk = /*[[${ticketCount}]]*/ [];
				    let columns = [];
				    for (let i = 0; i < ticketCount.length; i++) {
				        columns.push([ticketCount[i].tenPhim, ticketCount[i].soLuongVe]);
				    }
				
				    let chart = bb.generate({
				        data: {
				            columns: columns, // Sử dụng mảng columns đã xây dựng từ dữ liệu Spring Model
				            type: "donut",
				            onclick: function (d, i) {
				                console.log("onclick", d, i);
				            },
				            onover: function (d, i) {
				                console.log("onover", d, i);
				            },
				            onout: function (d, i) {
				                console.log("onout", d, i);
				            },
				        },
				        donut: {
				            title: "Tổng lượng vé: " + tk, // Sử dụng độ dài của mảng ticketCount để làm tiêu đề
				        },
				        bindto: "#donut-chart",
				    });
				    /*]]>*/
				</script>


</body>
</html>
