<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Quản lý rạp phim</title>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
	<div class="container w-50 mt-4 rounded shadow p-4 bg-body-tertiary">
		<h1>Quản lý lịch chiếu phim</h1>
		<hr>
		<h2>Cập nhật lịch chiếu</h2>
		<hr>
		<form action="#" th:action="@{/updateMovieSchedule}" th:object="${movieSchedule}" method="POST">
			<div class="mb-3 visually-hidden">
				<label for="id" class="form-label">Mã lịch chiếu</label>
				<input required type="text" th:field="*{idLichChieu}" placeholder="Mã lịch chiếu" class="form-control mb-4 col-4">
			</div>
			<div class="mb-3">
	            <label for="phim" class="form-label">Phòng chiếu phim</label>
	            <select th:field="*{phongChieu}" class="form-control mb-4 col-4">
	                <option th:each="cinemaRoom : ${cinemaRooms}" th:value="${cinemaRoom.idPhong}"><p th:text="${cinemaRoom.idPhong}"></p></option>
	            </select>
	        </div>
			<div class="mb-3">
	            <label for="phim" class="form-label">Phim</label>
	            <select th:field="*{phim}" class="form-control mb-4 col-4">
	                <option th:each="movie:${movies}" th:value="${movie.idPhim}"><p th:text="${movie.idPhim}"></p></option>
	            </select>
	        </div>
			<div class="mb-3 d-flex justify-content-between">				
				<div class="col col-5">
					<label for="thoigianBD" class="form-label">Thời gian bắt đầu</label>
					<input required type="time" th:field="*{thoigianBD}" placeholder="Thời gian bắt đầu" class="form-control">
				</div>
				<div class="col col-5">
					<label for="thoigianKT" class="form-label">Thời gian kết thúc</label>
					<input required type="time" th:field="*{thoigianKT}" placeholder="Thời gian kết thúc" class="form-control">
				</div>
			</div>
			<div class="mb-3">
				<label for="ngaychieu" class="form-label">Ngày chiếu</label>
				<input required type="date" th:field="*{ngayChieu}" placeholder="Ngày chiếu" id="ngayChieu" class="form-control mb-4 col-4">
				<div id="dateErrorMessage" class="text-danger"></div>
			</div>
			
			<hr>
			<div class="d-flex justify-content-between">
				<a class="btn btn-secondary" th:href="@{/}"> Quay lại</a>				
				<button type="submit" class="btn btn-success col-2"> Cập nhật	</button>
			</div>
		</form>
	</div>
</body>
</html>